:root {
    --pastelGreenColour: hsl(83, 33%, 76%);
    --greenColour: hsl(83, 33%, 66%);
    --darkGreenColour: hsl(83, 33%, 56%);

    --pastelPinkColour: hsl(354, 43%, 85%);
    --pinkColour: hsl(354, 43%, 75%);
    --velvetColour: hsl(354, 43%, 65%);

    --ivoryColour: hsl(60, 100%, 97%);
    --peachColour: hsl(44, 87%, 94%);
    --darkPeachColour: hsl(44, 87%, 89%);

    --primaryFont: "Open Sans";
    --secondaryFont: "Roboto";
    --cursiveFont: "Lobster";
    --cursiveSerifFont: "Abril Fatface";

    --navbar-height: 85px;
    --footer-height: 150px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

main {
    background-color: ivory;
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 500;

    height: var(--navbar-height);
    background-color: var(--peachColour);

    font-family: var(--primaryFont), sans-serif;
}

footer {
    height: var(--footer-height);
    background-color: var(--peachColour);
    color: var(--greenColour);
}

a.darkPeachButton {
    display: flex;
    text-decoration: none;

    align-items: center;
    justify-content: center;

    font-family: var(--secondaryFont), "sans-serif";
    font-weight: bold;

    background-color: var(--darkPeachColour);
    color: var(--velvetColour);

    transition: background-color, color 400ms;
}

a.darkPeachButton:hover {
    background-color: var(--velvetColour);
    color: var(--darkPeachColour);
}

/* Works Page */
#project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 5.9%;
}

/* Custom Keyboard Page */
#keyboard-main-section {
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(to bottom left, var(--greenColour), var(--pinkColour));
    min-height: calc(100vh - var(--navbar-height) - var(--footer-height));
}

#keyboard-main-section > h1 {
    font-family: var(--cursiveFont), "cursive";
    font-size: 3rem;
    text-align: center;
    color: var(--peachColour);
    letter-spacing: 2px;
    margin: 1rem auto 0.1rem auto;
}

#keyboard-main-section > div {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.7rem 0.5rem 1.7rem;
    background-color: var(--peachColour);
}

.modal-header > div:first-child {
    background-image: url("../public/Logo.png");
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.modal-header > div:last-child {
    display: flex;
    align-items: center;
}

.modal-closeBtn {
    font-size: 1.3rem;
    cursor: pointer;

    transition: color 100ms ease-out;
}

.tofu60-intro {
    font-size: 0.9rem;
    padding: 0.8rem 1.7rem;
    font-family: var(--secondaryFont), "sans-serif";
    color: var(--peachColour);
    background-color: var(--velvetColour);
}


.tofu60-intro > h2 {
    font-size: 1.5rem;
    font-family: var(--cursiveSerifFont), "cursive";
    color: var(--greenColour);
}

.tofu60-build-experience {
    font-size: 0.9rem;
    padding: 0.8rem 1.7rem;
    font-family: var(--secondaryFont), "sans-serif";
    color: var(--velvetColour);
}

.tofu60-build-experience > h2 {
    font-size: 1.5rem;
    font-family: var(--cursiveSerifFont), "cursive";
    color: var(--greenColour);
}

.tofu60-build-experience > h3 {
    font-size: 1.3rem;
    font-family: var(--cursiveSerifFont), "cursive";
    color: var(--greenColour);
}

.tofu60-build-experience > img {
    width: 100%;
}

#tofu60-switch-content {
    display: flex;
    align-items: stretch;
}

#tofu60-switch-content > p {
    width: 51%;
    margin-right: 2%;
}

.tofu60-switch-image {
    flex-grow: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

/* NProgress Bar */
#nprogress .bar {
    background: var(--pastelPinkColour) !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--pastelPinkColour), 0 0 5px var(--pastelPinkColour) !important;
}

#nprogress .spinner-icon {
    border-top-color: var(--pastelPinkColour) !important;
    border-left-color: var(--pastelPinkColour) !important;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    /*background-color: #ebebeb;*/
    background-color: ivory;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: hsl(83, 33%, 80%);
    /*background: hsl(353, 43%, 89%);*/
}

/* Smartphone */
@media screen and (max-width: 768px) {
    .lock-scroll {
        overflow-y: hidden;
    }
}

@media screen and (max-width: 580px) {
    #tofu60-switch-content {
        flex-direction: column;
    }

    #tofu60-switch-content > p {
        margin-right: 0;
    }

    #tofu60-switch-content > img {
        width: 95%;
        max-height: 12.5rem;
        margin: 0.5rem 0;
    }
}
