.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    height: max(calc(100vh - 85px), 450px);
    background: linear-gradient(to bottom right, var(--greenColour) 25%, var(--greenColour));
    color: var(--darkPeachColour);
    padding-left: clamp(2rem, 5vw, 8rem);
}

.homePageContainer > h1 {
    /*font-size: clamp(2rem, 5vw, 4rem);*/
    font-size: clamp(3rem, 6vw, 5rem);
    font-weight: bold;
    font-family: var(--secondaryFont), sans-serif;

    animation-name: fade-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.homePageContainer > div:nth-child(2) {
    font-size: clamp(1.3rem, 4vw, 3rem);
    font-weight: bold;
    font-family: var(--secondaryFont), sans-serif;

    animation-name: fade-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.homePageContainer > div:nth-child(2) > span:last-child {
    color: var(--velvetColour);
}

.homePageContainer > div:nth-child(3) {
    display: flex;
    flex-wrap: wrap;
    font-size: clamp(1.3rem, 4vw, 3rem);
    font-weight: bold;
    font-family: var(--secondaryFont), sans-serif;

    animation-name: fade-up;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

.homePageCube {
    height: 1em;
    color: var(--velvetColour);
}

@keyframes fade-up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
