/* Overwatch Page */
.owStatsContainer {
    display: block;
    position: relative;
    z-index: 1;

    min-height: 30rem;
    height: calc(100vh - var(--navbar-height));
    width: 100%;
}

.owStatsBg {
    height: 100%;
    filter: blur(3px);
    background-image: url("../public/Overwatch_Background.jpg");
    background-position: center;
}

.owStatsContent {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.owTextContainer {
    height: calc(100vh - var(--navbar-height));
}

.owProfileIcon {
    display: block;
    box-shadow: 0 0 5px var(--greenColour);
    height: 100px;
}

.owUsername {
    font-family: var(--primaryFont), "sans-serif";
    color: var(--greenColour);
    text-transform: uppercase;
    font-style: italic;
}

.owGamesWon {
    font-family: var(--secondaryFont), "sans-serif";
    color: var(--peachColour);
    text-transform: uppercase;
    margin-bottom: clamp(0px, 1vh, 20px);
}

.owLevel {
    display: none;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100px;

    background-size: cover;
    background-position: center;

    font-weight: bolder;
    font-family: var(--primaryFont), "sans-serif";
    color: var(--darkPeachColour);
}

.owSrContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 225px;
}

.owIndividualRoleSrContainer {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 7px 0px;
}

.owRoleIcon {
    display: block;
    width: 10%;
    margin: 0px 20px;
}

.owRankIcon {
    display: block;
    width: 20%;
    margin-right: 20px;
}

.owRoleSrText {
    font-weight: bolder;
    font-family: var(--primaryFont), "sans-serif";
    font-style: oblique;
    color: var(--darkPeachColour);
}

.owDropdownArrow {
    position: absolute;
    left: 50%;
    top: 87%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    font-size: 4rem;
    color: var(--greenColour);

    animation: owArrowBounce 500ms infinite ease-in-out alternate-reverse;
}

@keyframes owArrowBounce {
    from {
        top: 92%;
    }
    to {
        top: 87%;
    }
}
